* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #121212;
    color: #ffffff;
    line-height: 1.6;
    font-size: 16px;
    padding: 0 20px;
}

header {
    background-color: #3d3c3c;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    color: #ff3833;
    text-transform: uppercase;
    letter-spacing: 2px;
}

main {
    margin: 20px auto;
    max-width: 800px;
}

main p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #cccccc;
}

section h2 {
    font-size: 2rem;
    color: #ff3833;
    margin-bottom: 20px;
    text-align: center;
}

.teams-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem; 
  justify-content: center;
}

.team {
  flex: 1 1 300px; 
  max-width: 350px;
  min-width: 250px;
  margin-bottom: 0; 
  background: #3d3c3c;
  padding: 1rem;
  border-radius: 8px;
}

.team h3 {
  text-align: center;
}

.drivers {
  margin-top: 1rem;
}

.driver {
  margin-bottom: 1rem;
  padding: 0.5rem 0;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px 0;
    background-color: #1f1f1f;
}

footer p {
    color: #cccccc;
    font-size: 0.9rem;
}

.team-mercedes {
    color: #6CD3BF;
}
.team-redbull {
    color: #1E41FF;
}
.team-ferrari {
    color: #fd1d17;
}
.team-mclaren {
    color: #FF8000;
}
.team-astonmartin {
    color: #229971;
}
.team-alpine {
    color: #ff26ed;
}
.team-williams {
    color: #5675ff;
}
.team-stake {
    color: #52E252;
}
.team-haas {
    color: #ffffff;
}
.team-rb {
    color: #6692FF;
}
.team-andretti {
    color: #0033A0;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    main {
        padding: 0 10px;
    }

    section h2 {
        font-size: 1.8rem;
    }
}
